body {
    background: #22b14c;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body div.container {
    align-content: center;
    padding: 50px 0;
    width: 80vw;
    max-width: 80em;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    justify-content: space-around;
}

.central-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.central-y-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.login-button {
    text-align: center;;
    min-width: 200px;
    max-width: 40%;
    font-size-adjust: 1;
    padding: 10px 30px;
    background-color: rgba(255,255,255,1);
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 20px;
    transition: background-color 0.5s;
}

button.login-button:hover{
    background-color: #54e07e;
}

div.logo img.logo {
    display: block;
    width: auto;
    height: auto;
    max-width: 10em;
}

div.group.container {
    padding: 0;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.group.container div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.group.container div.input{
    padding: 50 50px;
}

div.input form {
    justify-content: center;
    display: flex;
    margin: 0.5em 0;
}

div.input form .group-input {
    min-height: 20pt;
    margin: 0 5px;
    min-width:10%;
    background-color: rgba(255,255,255,1);
    border: 1px solid transparent;
    font-size-adjust: 0.7;
    display: inline-block;
    
}

div.user-actions .logout-button {
    max-width: 10em;
    align-self: end;
}

div.group.container div.table{
    flex-grow: 3;
    justify-content: start;
    font-size-adjust: 0.6;
    min-height: 5em;
} 

div.table table {
    width: 100%;
}

div.song.container {
    justify-content:center;
    display:flex;
    flex-direction: column;
    width: auto;
    padding: 2em 1em;
}

div.song-details {
    margin-top: 1em;
}

div.song-details span.artist {
    

}

div.song-vote {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

div.song-vote button {
    display: block;
    padding: 1em;
}

div button.login-button {
    max-width: 60vw;
    min-width: 30vw;
    text-align: center;
    
}

