<!doctype html>
<html>
<head>
    <title>Spotify Group Bangers</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body class="central-y-child">
    <div class="container" style="margin-bottom: 4em;">
        <div class="logo central-x">
            <img class="logo central-x" src="../static/logo.png" alt="logo">
        </div>
        <div style="margin-top:50px;">
            <button onclick="location.href = '\SpotifyAuthorise';" class="login-button central-x">Authorise With Spotify</button>
        </div>
    </div>
</body>
</html>