<!doctype html>
<html>
<head>
    <title>Spotify Group Bangers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body class="central-y-child" style="justify-content:normal">
    <div class="group container central-y-child central-x" style="padding: 1em 0.5em">
        <div class="logo">
            <img class="logo" src="../static/logo.png" alt="logo" style="max-width: 15em;align-self: center;">
        </div>
        <div class="input">
            <form action = "/form/EnterCode" method = "POST">
                <input class="group-input" type="text" id="EnteredGroup" name="GroupCode" placeholder="Enter Group Code">
                <br>
                <button onclick = "Submission()" type="submit" class="group-input" style="overflow:hidden"> Load Into Group</button>
                <button onclick="CreateAGroup()" type ="button" class="group-input" style="overflow:hidden"> Create A Group</button>
                <button onclick = "LeaveGroup()" type="button" class = "group-input" style="overflow:hidden">Leave Group</button>
                
            </form>
        </div>
        <div class="table">
            <table id = "GroupTable">
                <th>Group Name</th>
                <th>Group Id</th>
            </table>
        </div>
        <div class="user-actions">
            <button onclick="Logout()" class="logout-button">Logout</button>
        </div>
    </div>
</body>
<script src=/static/Login.js">   
</script>
</html>