<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dan Perks - Tools</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/util.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://sdk.usegripeless.com" async></script>
</head>

<body>
    <a class="dropdown" href="/"> Home </a>
    <a class="login" onclick="Logout()"> Log Out </a>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <img src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png" class="middleimage">
                <span class="login100-form-title">
					The Banger Generator
				</span><br>
                <div class="text-center p-b-26">

                    <div class="container-login100-form-btn">
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="code" placeholder="Group Code">
                            <span class="focus-input100"></span>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="code" placeholder="Group Code" value="bC1hA3lQ8W" disabled>
                            <span class="focus-input100"></span>
                        </div>
                    </div>

                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="Submission()" class="login100-form-btn">
                            Join Group
                        </button>
                    </div>

                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="CreateAGroup()" class="login100-form-btn">
                            Create A Group
                        </button>
                    </div>

                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button onclick="LeaveGroup()" class="login100-form-btn">
                            Leave Group
                        </button>
                    </div>

                    <button onclick="Gripeless.modal('spotifygroupplaylist')">Found an issue?</button>

                </div>
            </div>
        </div>
    </div>

    <script>
    </script>

</body>

</html>