<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dan Perks - Tools</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/util.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://sdk.usegripeless.com" async></script>
</head>

<body>
    <a class="dropdown" href="/"> Home </a>
    <a class="login" onclick="Logout()"> Log Out </a>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <img src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png" class="middleimage">
                <span class="login100-form-title">
					The Banger Generator
				</span><br>
                <div class="text-center p-b-26">
                    <form action="/form/EnterCode" method="POST">
                        <div class="container-login100-form-btn">
                            <div class="wrap-input100">
                                <input id="EnteredGroup" class="input100" name="GroupCode" type="text" name="code" placeholder="Group Code">
                                <span class="focus-input100"></span>
                            </div>
                        </div>

                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" onclick="Submission()" class="login100-form-btn">
                                Join Group
                            </button>
                        </div>

                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="button" onclick="CreateAGroup()" class="login100-form-btn">
                                Create A Group
                            </button>
                        </div>

                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="button" onclick="LeaveGroup()" class="login100-form-btn">
                                Leave Group
                            </button>
                        </div>
                    </form>

                    <table style="width:100%" id="GroupTable"></table>
                    <br />
                    <button onclick="Gripeless.modal('spotifygroupplaylist') ">Found an issue?</button>
                    <script src="/static/Login.js"></script>
                </div>
            </div>
        </div>
    </div>



</body>

</html>